body{
	background-color: #432665;
}
.main-header ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-header li{
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
}
.main-header li a{
	display: block;
	border-left: 8px solid #C97556;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 100px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}
.main-header li a:hover{
	border-left: 8px solid #990033;
	background-color: #474655;
}
